/* layout stuff */
body {
    background-color: #fcfbfb;
}

#content {
    margin: 0 auto;
    max-height: 1600px;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

.button-box {
    text-align: center;
}


/* header and nav */
header {
    background-color: #F1C850;
}

nav a {
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #1196ca;
    color: #F1C850;
}


/* hero section */
#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.home-title {
    background-color: #1196ca;
    color: #F1C850;
}


/* buttons */
.book {
    background-color: #fcfbfb;
    text-decoration: none;
}

.join {
    background-color: #fcfbfb;
    text-decoration: none;
}

.book:hover {
    background-color: #CCEE99;
}

.join:hover {
    background-color: #CCEE99;
}


/* message box area */
.msg {
    background-color: #F1C850;
}

.msg h2 {
    background-color: #1196ca;
    color: #F1C850;
}

.msg p {
    background-color: #1196ca;
    color: #F1C850;
}


/* text styles */
h4 {
    background-color: #1196ca;
    color: #F1C850;
}


/* footer */
footer {
    background-color: #1196ca;
}

footer a {
    background-color: #1196ca;
    text-decoration: none;
}

footer a:hover {
    background-color: #1196ca;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}


/* images and icons */
.icon {
    width: 80px;
}

.logo {
    width: 80px;
}