@import url('https://fonts.googleapis.com/css2?family=Your+Headline+Font&family=Your+Body+Font&display=swap');

/* layout stuff */
body {
    background-color: #fcfbfb;
    font-family: 'Your Body Font', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#content {
    margin: 0 auto;
    max-height: 1600px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;  /* ← ADD THIS NEW RULE-SET */
}

#background {
    height: 725px;
}

.button-box {
    text-align: center;
}


/* header and nav */
header {
    background-color: #F1C850;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #1196ca;
    color: #F1C850;
}


/* hero section */
#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.home-title {
    background-color: #1196ca;
    color: #F1C850;
    font-family: 'Your Headline Font', Georgia, serif;
    font-size: 2em;
    margin-top: 10px;
}


/* buttons */
.book {
    background-color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;  /* ← ADD THIS */
}

.join {
    background-color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;  /* ← ADD THIS */
}

.book:hover {
    background-color: #CCEE99;
}

.join:hover {
    background-color: #CCEE99;
}


/* message box area */
.msg {
    background-color: #F1C850;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    background-color: #1196ca;
    color: #F1C850;
    font-family: 'Your Headline Font', Georgia, serif;
}

.msg p {
    background-color: #1196ca;
    color: #F1C850;
    font-size: .8em;
    padding-bottom: 15px;
}


/* card sections */
.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #1196ca;  /* ← ADD THIS NEW RULE-SET (using your blue color) */
}


/* text styles */
h4 {
    background-color: #1196ca;
    color: #F1C850;
}


/* footer */
footer {
    background-color: #1196ca;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    background-color: #1196ca;
    text-decoration: none;
}

footer a:hover {
    background-color: #1196ca;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


/* images and icons */
.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}